@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Manropre', sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background: #f6f8f9;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.button_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;

}

.button {
  background: #e9f0f4;
  height: 4rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  /* border: 2px solid #242424; */
  background-color: #dde6ec;
}

.equals {
  background: #f79505;
  grid-column: 3/5;
  font-weight: 500;
  color: #f6f8f9;
  transition: 0.1s linear;
}

.equals:hover {
  background: #d48610;
}

.opt {
  color: #d48610;
  font-weight: 500;
}